<footer>
    <div class="footer-inner">
        <p><a href="https://www.history.ox.ac.uk/patronage-and-power-in-the-pre-modern-mediterranean#tab-5723936" target="_blank" rel="noopener">Patronage and Power in the Pre-Modern Mediterranean</a></p>
        <p>Powered by <a href="https://github.com/CCeH" target="_blank" rel="noopener">EFES-NG</a></p>
    </div>
</footer>
